body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #ede4ec;
}
.container {
  margin-top: 70px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 25px;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: #ffdee9;
  background-image: linear-gradient(169deg, #ffdee9 0%, #b5fffc 100%);

  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}
.overview {
  margin-bottom: 15px;
}

.weather-icon img {
  margin-right: 5px;
  height: 100px;
  width: 100px;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -10px;
}

.col-sm-6 li {
  top: 20px;
  padding-right: 20px;
  padding-left: 80px;
  font-size: 18px;
  position: relative;
}

.weather-temperature strong {
  position: relative;
  font-size: 52px;
  font-weight: 400;
  top: 9px;
}
.weather-temperature .units {
  position: relative;
  font-size: 18px;
  top: -9px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}
.weather-forecast-date {
  font-size: 17px;
  opacity: 0.5;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 15px;
}
.btn-light,
button {
  background-color: #aca7aa;
  color: white;
  transition: all 200ms ease-in-out;
  border-radius: 5px;
  border: 1px solid #757f7d;
}
.btn-light:hover,
button:hover {
  background-color: #757f7d;
  border: none;
  cursor: pointer;
}
h1 {
  color: #878787;
  line-height: 28px;
  font-size: 27px;
  font-weight: bold;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  color: #757f7d;
  font-size: 19px;
  font-weight: 100;
  height: 21px;
  line-height: 2;
  list-style: none;
  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}
small {
  font-size: 14px;
  padding: 0;
  text-align: center;
}
a.author {
  text-decoration: none;
  color: #757f7d;
}
